{% extends "blog/base_blog.html" %}
{% load dry_urls %}

{# Don't forget to apply the same filters in feed_body.html and feed_title.html #}

{% block htmltitle %}{{ post.title|striptags }}{% endblock %}
{% block headertitle %}{{ post.title|safe }}{% endblock %}
{% block headerdate %}{{ post.pub_date|date }}{% endblock %}
{% block description %}{{ post.summary }}{% endblock %}
{% block crumbsblog %} <span class="sep">&gt;</span> {{ post.title|safe|truncatechars_html:30 }}{% endblock %}

{% block content %}
<article>
{{ post.body|dry_urls|safe }}
</article>
{% endblock content %}
