{% extends "blog/base_blog.html" %}

{% block htmltitle %}Blogue{% endblock %}
{% block description %}Le blogue personnel d’Alexandre de Verteuil{% endblock %}
{% block head %}
    <link rel="alternate" type="application/rss+xml" href="{% url "blog:rss" %}" title="Le blogue d'Alexandre de Verteuil">{% endblock %}
{% block headertitle %}Blogue{% endblock %}
{% if latest_post_list %}
    {% block headerdate %}{{ latest_post_list.0.pub_date|date }}{% endblock %}
{% endif %}
{% block navblog %}Blogue{% endblock %}

{% block content %}
<section>{% if latest_post_list %}
    <table id="blog_index">{% for post in latest_post_list %}
        <tr>
            <td class="nowrap">{{ post.pub_date|date }}</td><td class="mdash">&mdash;</td>
            <td><span title="{{ post.summary }}"><a href="{% url 'blog:detail' post.slug %}">{{ post.title|safe }}</a></span>{% for category in post.categories.all %}
            <span class="tag">#{{ category.name }}</span>{% endfor %}
            </td>
        </tr>{% endfor %}
    </table>{% else %}
    <p>No posts are available.</p>{% endif %}
</section>
{% endblock content %}
