{% extends "blog/base_blog.html" %}

{% block htmltitle %}Blogue - {% endblock %}
{% block pagetitle %}Alexandre de Verteuil{% endblock %}
{% block subtitle %}Blogue{% endblock %}

{% block content %}
{% if latest_post_list %}
    <div>
    {% for post in latest_post_list %}
        <h3><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></h3>
        <p>
            <b>{{ post.pub_date }}</b>
            {% if post.summary %}
            <br />{{ post.summary }}
            {% endif %}
        </p>
    {% endfor %}
    </div>
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock content %}
