{% extends "base.html" %}
{% load static %}

{% block htmltitle %}Liens{% endblock %}
{% block description %}Le partage de liens d’Alexandre de Verteuil{% endblock %}
{% block headertitle %}Liens{% endblock %}

{% block body %}
<section>{% if user.is_authenticated %}
<p><a href="{% url "links:bookmark_add" %}">Add a bookmark</a>{% endif %}</p>{% if bookmarks %}
{% block datenav %}{% endblock %}
{% include "links/_paginator.html" %}{% for bookmark in bookmarks %}{% if not bookmark.private or user.is_authenticated %}
<div class="bookmark">
    <div class="rfloat">{{ bookmark.datetime_added|date:"Y-m-d" }}{% if user.is_authenticated %}<br />
    <a href="{% url "links:bookmark_update" pk=bookmark.pk %}">edit</a><br />
    <a href="{% url "links:bookmark_delete" pk=bookmark.pk %}">delete</a><br />{% if bookmark.private %}
    private{% endif %}{% endif %}</div>{% if bookmark.url %}
    <p><a href="{{ bookmark.url }}">{{ bookmark.title }}</a>{% else %}
    <p>{{ bookmark.title }}{% endif %}{% if bookmark.tags.count %}<br />
    {% for tag in bookmark.tags.all %}<span class="tag">#{{ tag }}</span> {% endfor %}{% endif %}{% if bookmark.description %}<br />
    {{ bookmark.description }}{% endif %}{% if bookmark.url %}<br />
    <code>{{ bookmark.url }}</code>{% endif %}</p>
</div>{% endif %}{% endfor %}
{% include "links/_paginator.html" %}
{% else %}
<p>No links are available.</p>{% endif %}
</section>
{% endblock body %}
