{% extends "base.html" %}
{% load static %}

{% block htmltitle %}Liens{% endblock %}
{% block description %}Le partage de liens d’Alexandre de Verteuil{% endblock %}
{% block headertitle %}Liens{% endblock %}

{% block body %}
<section>{% if user.is_authenticated %}
    <a href="{% url "links:bookmark_add" %}">Add a bookmark</a>{% endif %}{% if object_list %}
{% include "links/snip_paginator.html" %}{% for link in object_list %}{% if not link.private or user.is_authenticated %}
    <div>
            <div class="rfloat">{{ link.datetime_added|date:"Y-m-d" }}{% if user.is_authenticated %}<br />
            <a href="{% url "links:bookmark_update" pk=link.pk %}">edit</a><br />
            <a href="{% url "links:bookmark_delete" pk=link.pk %}">delete</a><br />{% if link.private %}
            private{% endif %}{% endif %}</div>
            <h2><a href="{{ link.url }}">{{ link.title }}</a></h2>
            <p>{{ link.description }}</p>
            <p>{% if link.tags.count %}{% for tag in link.tags.all %}<span class="tag">#{{ tag }}</span> {% endfor %}<br />
            {% endif %}<code>{{ link.url }}</code></p>
    </div>{% endif %}{% endfor %}
{% include "links/snip_paginator.html" %}
    {% else %}
    <p>No links are available.</p>{% endif %}
</section>
{% endblock body %}
