{% extends "base.html" %}
{% load static %}{% load links_extras %}

{% block htmltitle %}{{ bookmark.title }}{% endblock %}
{% block description %}Lien partagé par Alexandre de Verteuil{% endblock %}
{% block headertitle %}MicroBlogue{% endblock %}
{% block crumbslinks %} <span class="sep">&gt;</span> N<sup>o</sup>&nbsp;{{ bookmark.pk }}{% endblock %}

{% block body %}
<article>
<div class="bookmark">
    <div class="rfloat">{{ bookmark.datetime_added|date:"Y-m-d" }}{% if user.is_authenticated %}<br />
    <a href="{% url "links:bookmark_update" pk=bookmark.pk %}">edit</a><br />
    <a href="{% url "links:bookmark_delete" pk=bookmark.pk %}">delete</a><br />{% if bookmark.private %}
    private{% endif %}{% endif %}</div>{% if bookmark.url %}
    <p><a href="{{ bookmark.url }}">{{ bookmark.title }}</a>{% else %}
    <p>{{ bookmark.title }}{% endif %}{% if bookmark.tags.count %}<br />
    {% for tag in bookmark.tags.all %}<span class="tag"><a href="{% url "links:bookmark_archive" year=year|date:"Y" %}{% query_transform "+tag="|add:tag.slug %}">{{ tag }}</a></span> {% endfor %}{% endif %}{% if bookmark.description %}<br />
    {{ bookmark.description|linebreaksbr }}{% endif %}{% if bookmark.url %}<br />
    <code>{{ bookmark.url }}</code>{% endif %}</p>
</div><!-- .bookmark -->
</article>
{% endblock body %}
