<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block htmltitle %}Untitled{% endblock %} &mdash; Alexandre de Verteuil</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header>
    <h1>{% block headertitle %}{% endblock %}</h1>
    <div>{% block headerdate %}{% endblock %}</div>
    <div>{% block headersite %}Alexandre de Verteuil{% endblock %}</div>
</header>
<hr /><!-- \\\\\\\\\\\\\\\\\\\\   nav   //////////////////// -->
<nav>
    {% block navhome %}<a href="/">Accueil</a>{% endblock %}{% block crumbshome %}{% endblock %} |
    {% block navblog %}<a href="/blogue/">Blogue</a>{% endblock %}{% block crumbsblog %}{% endblock %} |
    {% block navpages %}<a href="/pages/">Pages</a>{% endblock %}{% block crumbspages %}{% endblock %}
</nav>
<hr /><!-- \\\\\\\\\\\\\\\\\\\\ article //////////////////// -->{% block body %}{% endblock %}<hr /><!-- \\\\\\\\\\\\\\\\\\\\ footer  //////////////////// -->
<footer>
Copyright © 2014, Alexandre de Verteuil
</footer>{% comment %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
{% endcomment %}
</body>
</html>
